.marketing   
  h1 About Us
  h2 
    | Bechtel is the leader in Engineering, Procurement, and Construction. Now with our POMA initiatives, were are paving the way for delivering innovative technologies to the field.
  h1 Our Team
  p.well: img(src="/buddyicon.jpeg")
  p.well: img(src="/buddyicon.jpeg")