.marketing   
  h1 Contact Us
  form.well
    input.input-large(type="text", name="contactname", placeholder="Contact Name")
    br
    input.input-large(type="text", name="contactemail", placeholder="Contact Email")
    br
    input.input-large(type="text", name="contactphone", placeholder="Contact Phone Number")
    br
    textarea.input-xxlarge(name="contactphone", placeholder="Contact Phone Number", rows="10")
    p
      button.btn.btn-medium.btn-primary(type="submit") Submit