.marketing
    center: img(src='poma_logo_white_bg_orange.png')
    h2
      | Welcome to POMA, Bechtel's technology innovation center! We focus on designing and developing mobile apps and APIs for our global EPC business.
    p.pull-right
      a.btn.btn-warning.btn-large(href='http://bechtel.com', target='_new') Learn about Bechtel »
    br
    br
    br
    .marketing
      hr.soften
      h1 Paving the way
      p.marketing-byline We build BIG stuff
      hr.soften
      .row
        .span4
          img.bs-icon(src='/glyphicons_163_iphone.png')
          h2 AppStore
          p Visit our private AppStore for the latest mobile applications including: TeamWorks, CraftTime, and iForms.
          p: a.btn(href='http://appstore.mypsn.com') View details »
        .span4
          img.bs-icon(src='/glyphicons_009_magic.png')
          h2 API Marketplace
          p Visit our API marketplace and get started today building new apps using our simple REST APIs.
          p: a.btn(href='http://developer.mypsn.com') View details »
        .span4
          img.bs-icon(src='/glyphicons_082_roundabout.png')
          h2 Open Source
          p
            | Our most popular open source platform today is
            a(href='http://iringtoday.com/') iRing
            | , (ISO 15926 Real-time Interoperability Network Grid).
          p: a.btn(href='http://github.com/bechtel') View details »
      .row
        .span4
          img.bs-icon(src='/glyphicons_266_book_open.png')
          h2 Technology Blog
          p Visit our technology blog to learn more about our innovative projects and lessons learned from mobile, API development, and cloud computing.
          p: a.btn(href='#') View details »
        .span4
          img.bs-icon(src='/glyphicons_042_group.png')
          h2 Partnerships
          p Interested in partnering with us? Learn about our standards and processes. 
          p
            a.btn(href='https://prm.mypsn.com/information-technology-strategy') View details »