.navbar.navbar-fixed-top
  a(href="http://bechtel.com")
    img(style="position:absolute;top:0;left:0;border:0;", src="logo.png")
  .navbar-inner
    .container
      .nav-collapse
        ul.nav
          li: a(href='#/') Home
          li: a(href='#/tweets') Tweets
          li: a(href='#/about') About
          li: a(href='#/contact') Contact
