/* Marketing section of Overview
-------------------------------------------------- */
.marketing .row {
  margin-bottom: 9px;
}
.marketing h1 {
  margin: 36px 0 27px;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}
.marketing h2,
.marketing h3 {
  font-weight: 300;
}
.marketing h2 {
  font-size: 22px;
}
.marketing p {
  margin-right: 10px;
}
.marketing .bs-icon {
  float: left;
  margin: 7px 10px 0 0;
  opacity: .8;
}
.marketing .small-bs-icon {
  float: left;
  margin: 4px 5px 0 0;
}
.marketing-byline {
  margin: -18px 0 27px;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  color: #999;
  text-align: center;
}
.section{
	width:1900px;
	position:relative;
}

.section .sub{
	position:relative;
	float:left;
	padding:9px 21px 42px 45px;
	width:567px;
	height:352px;
}
.section .sub p{
	width:550px;
	margin:16px 0;
	font-size:85%;
	line-height:1.4em;
}
.section .next, .section .prev{
	font-size:18px;
	position:absolute;
	bottom:15px;
	letter-spacing:-2px;
}
.section .next{
	right:30px;
}
.section .prev{
	left:30px;
}

.sectioncontent{
	overflow:hidden;
/*	width:1900px;*/
/*	background-color:white;*/
	position:relative;
/*	height:400px;*/
/*	float:left;*/
}
